# Must match CHAT_API_SECRET. Adds a small barrier for dev use, but should be replaced by real auth in production.
NEXT_PUBLIC_CHAT_API_SECRET=

CHAT_API_SECRET=
GOOGLE_GENERATIVE_AI_API_KEY=AI...
ANTHROPIC_API_KEY=sk-ant-...
OPENAI_API_KEY=sk-...
